.MuiDataGrid-columnHeaders.css-f290kg-MuiDataGrid-columnHeaders {
  display: flex;
}

.MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center;
}
.MuiDataGrid-cell--textLeft, .MuiDataGrid-cell.MuiDataGrid-cell--textRight {
  display: flex;
  justify-content: center !important;
}

.MuiDataGrid-cellContent {
  display: flex;
}